<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercedes Racing Team Client</title>
</head>
<body>
  <h1>Mercedes Racing Team Client</h1>
  <input id="vehicleId" type="text" name="vehicleId" placeholder="lewis" size="25" required>
  <button type="button" onclick="get()">Get</button>
  <br>
</body>
</html>

<script src="js/main.js"></script>

<script type="text/javascript">
    function get() {
        var vehicleId = document.getElementById("vehicleId").value;
        localStorage.setItem("vehicleId", vehicleId);

        var url = "/client/history?vehicleId="+ vehicleId +"&page=1";
        window.open(url, "_self");
    }
</script>